@page "/Admin"

<h3>Admin</h3>

 <link rel="stylesheet" href="/Identity/css/site.css" />
 
 <div class="table-responsive">
 <table class="table">
     
              <tr>
                <th>Titel</th>
                <th>Genre </th>
                <th>Pris </th>
                <th>Update/Delete</th>
                
                
              </tr>
               <tr>
                <td>Test</td>
                <td>Test</td>
                <td>200kr</td>
                <td>
                    <button class="btn update-btn">Update</button>   
                     <button class="btn btn-danger">Delete</button>
                </td>
                 
              </tr>
            
               
            
             
</table>

 <button class="btn create-btn"> Create</button>
 
</div>


@code {

}
