@page "/Admin"

@using KärraGamesCorner.Data.Models
@using KärraGamesCorner.Data
@using KärraGamesCorner.Interfaces
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using System.Collections.Concurrent
@using Microsoft.CodeAnalysis.VisualBasic.Syntax

@inject NavigationManager NavigationManager
@inject IUnitOfWork _unitOfWork 

<h3>Admin</h3>

 <link rel="stylesheet" href="/Identity/css/site.css" />
 
 <div class="table-responsive">
 <table class="table">
     
              <tr>
                <th>Titel</th>
                <th>Genre </th>
                <th>Pris </th>
                <th>Update/Delete</th>
                
               </tr>
                @foreach (var product in _products)
                {
                   
               <tr>
                   <td>@product.Name</td>
                   @if (product.Genre is not null)
                   {
                       <td>@product.Genre.Name</td>
                   }
                   else
                   {
                       <td>null</td>

                   }
                   <td>@product.Price</td>

                <td>
                   
                    <button class="btn update-btn" @onclick="(()=>ShowProduct(product.Id))">Update</button>   
                     <button class="btn btn-danger" style="background-color:red;" @onclick="()=> DeleteProduct(product)">Delete</button>
                </td>
                 
              </tr>
                    
                }

                
          
            
</table>

 <button class="btn create-btn" @onclick="()=>CreateProduct()"> Create</button>
 
</div>


@code {

     private ConcurrentBag<KärraGamesCorner.Data.Models.Product> _products;

        protected override async Task OnInitializedAsync()
    {
        _products = new ConcurrentBag<KärraGamesCorner.Data.Models.Product>(await _unitOfWork.Products.GetAsync(include:"Genre"));
    }

        void ShowProduct(int id)
    {
        NavigationManager.NavigateTo($"updateproduct/{id}");
    }

          void CreateProduct()
    {
        NavigationManager.NavigateTo($"updateproduct");
    }

    //Gör en metod som tar bort produkten från databasen.
    public async Task DeleteProduct(Product product)
    {
       await _unitOfWork.Products.DeleteAsync(product);
       await _unitOfWork.CommitAsync();
        OnInitializedAsync();
    }

}
