@page "/Admin"

@using KärraGamesCorner.Data.Models
@using KärraGamesCorner.Data
@using KärraGamesCorner.Interfaces
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using System.Collections.Concurrent

@inject NavigationManager NavigationManager
@inject IUnitOfWork _unitOfWork 

<h3>Admin</h3>

 <link rel="stylesheet" href="/Identity/css/site.css" />
 
 <div class="table-responsive">
 <table class="table">
     
              <tr>
                <th>Titel</th>
                <th>Genre </th>
                <th>Pris </th>
                <th>Update/Delete</th>
                
               </tr>
                @foreach (var product in _products)
                {
                   
               <tr>
                <td>@product.Name</td>
                <td>@product.Genre.Name</td>
                <td>@product.Price</td>

                <td>
                   
                    <button class="btn update-btn" @onclick=@ShowProduct>Update</button>   
                     <button class="btn btn-danger">Delete</button>
                </td>
                 
              </tr>
                    
                }

                
          
            
</table>

 <button class="btn create-btn"> Create</button>
 
</div>


@code {

     private ConcurrentBag<KärraGamesCorner.Data.Models.Product> _products;

        protected override async Task OnInitializedAsync()
    {
        _products = new ConcurrentBag<KärraGamesCorner.Data.Models.Product>(await _unitOfWork.Products.GetAsync(include:"Genre"));
    }

        void ShowProduct()
    {
        NavigationManager.NavigateTo($"product");
    }

}
