@page
@model KärraGamesCorner.Pages.CheckoutModel
<body>
<main>
	<section class="checkout-container">
		<div class="form-wrap">
			<form>
				<div class="form-group">
					<label for="name">Namn</label>
					<input
						type="text"
						name="name"
						id="name"
						placeholder="Namn..."/>
				</div>

				<div class="form-group">
					<label for="address">Adress</label>
					<input
						type="text"
						name="address"
						id="address"
						placeholder="Ange adress"/>
				</div>

				<div class="form-group">
					<label for="last-name">Stad</label>
					<input
						type="text"
						name="city"
						id="city"
						placeholder="Ange stad"/>
				</div>

				<div class="form-group">
					<label for="email">Kortnummer</label>
					<input
						type="text"
						name="cardnumber"
						id="cardnumber"
						placeholder="Ange kortnummer"/>
				</div>

				<div class="form-group">
					<label for="expirytdate">MM/ÅÅ</label>
					<input
						type="expirytdate"
						name="expirytdate"
						id="expirytdate"
						placeholder="Ange giltighetsdatum"/>
				</div>

				<div class="form-group">
					<label for="cvc">CVC</label>
					<input
						type="text"
						name="cvc"
						id="cvc"
						placeholder="Ange CVC"/>
				</div>

				<button type="submit" class="btn">Slutför köpet</button>
			</form>
		</div>
	</section>
</main>

<style> 
	.checkout-container {
		margin: 100px auto;
		max-width: 400px;
		padding: 20px;
	}

	.form-wrap {
		background: #fff;
		color: #333;
		padding: 15px 25px;
		border: #333 1px solid;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	}

	.form-wrap h1,
	.form-wrap p {
		text-align: center;
	}

	.form-wrap p {
		color: #344a72;
		font-weight: bold;
	}

	.form-wrap .form-group {
		margin-top: 15px;
	}

	.form-wrap .form-group label {
		display: block;
		color: #666;
	}

	.form-wrap .form-group input {
		width: 100%;
		padding: 10px;
		color: #666;
		border: #ddd 1px solid;
		border-radius: 5px;
	}

	.form-wrap button {
		display: block;
		width: 100%;
		padding: 10px;
		margin: 20px 0;
		background: #49c1a2;
		color: #f4f4f4;
		cursor: pointer;
		border: #37a08e 1px solid;
	}

	.form-wrap button:hover {
		background: #37a08e;
		font-weight: bold;
	}
</style>

</body>