@page "/customercart"
@using KärraGamesCorner.Data.Models
@using System.Security.Claims
@using KärraGamesCorner.Interfaces
@using Microsoft.AspNetCore.Identity
@inject IUnitOfWork _unitOfWork
@inject IHttpContextAccessor _accessor

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KundVagn - KärraGamesCorner</title>

    
        <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/Identity/css/site.css" />
        
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">KärraGamesCorner</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>


 <table syle="100%">
     
     <tr>
         <th>Titel</th>
         <th>Pris</th>
         <th>Antal</th>
         <th>TotalPris</th>
                
     </tr>
     @foreach (var product in  _currentUser.CartProducts)
     {
         <tr>
             <td>@product.Product.Name</td>
             <td>@product.Product.Price Kr</td>
             <td>
                 <button class="btn-danger" @onclick="() => SubtractFromAmountAsync(product)">-</button>
                 @product.Amount
                 <button class="btn-success" @onclick="() => AddToAmountAsync(product)">+</button>

             </td>
             <td>@RowPrice(product) kr</td>
         </tr>
     }
               
            
               
            
             
</table>
 <button> Delete</button>

    <footer class="footer border-top pl-3 text-muted">
        <div class="container">
        &copy; 2022 - KärraGamesCorner
        </div>
    </footer>

</body>



@code {

    //Field för applcationUser kundens lista av cartProducts

    //Hitta ett sätt att få reda på vilken applicationUser som är inloggad.
    private ApplicationUser _currentUser;
    protected override async Task OnInitializedAsync()
    {
        var claims = _accessor.HttpContext.User.Claims;
        foreach (var claim in claims)
        {
            if (claim.Type == ClaimTypes.NameIdentifier)
            {
                _currentUser = await _unitOfWork.Users.GetAsync(claim.Value);
            }
        }
    }
    

    //Gör en metod som räknar ut totalpris på raden
    public decimal RowPrice(CartProduct product)
    {

        return product.Amount * product.Product.Price;
    }
    //Gör en metod som ökar antalet - koppla till en knapp
    public async Task AddToAmountAsync(CartProduct product)
    {
        product.Amount++;
        await _unitOfWork.CommitAsync();
        
    }
    //Gör en metod som minskar antalet - koppla till en knapp
    public async Task SubtractFromAmountAsync(CartProduct product)
    {
        if (product.Amount > 0)
        {
            product.Amount--;
            await _unitOfWork.CommitAsync();
        }
        
    }
    //Gör en metod som räknar ut totalpris på raden
    public async Task DeleteRowAsync(int rowNumber)
    {
        var productCart =  _currentUser.CartProducts.ToList();
        var rowProduct = productCart[rowNumber];
        productCart.Remove(rowProduct);

        await _unitOfWork.CommitAsync();
    }
}
