@page "/customercart"

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KundVagn - KärraGamesCorner</title>

    
        <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/Identity/css/site.css" />
        
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">KärraGamesCorner</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>


 <table syle="100%">
     
              <tr>
                <th>Titel</th>
                <th>Pris</th>
                <th>Antal</th>
                <th>TotalPris</th>
                
              </tr>
               <tr>
                <td>Csgo</td>
                <td>200kr</td>
                <td>1</td>
                <td>200kr</td>
              </tr>
            
               
            
             
</table>
 <button> Delete</button>

    <footer class="footer border-top pl-3 text-muted">
        <div class="container">
        &copy; 2022 - KärraGamesCorner
        </div>
    </footer>

</body>



@code {

}
