@page "/"
@using KärraGamesCorner.Data.Models

<PageTitle>Home Page</PageTitle>

@*<div class="c-card">
    <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ready_Player_One_%28film%29.png" />
    <div class="c-footer">
        <div class="c-info">
            <h1>Product title</h1>
            <hr />
            <p>9999kr</p>

        </div>
        <div class="c-btn">
            <button class="btn btn-success">Add</button>
        </div>
    </div>
</div>*@

<div class="card-deck-wrapper">
    @foreach (var product in _products)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <div class="c-info">
                    <p class="price">@product.Price kr</p>
                    <a href="#" class="btn btn-primary">ADD</a>
                </div>
            </div>
        </div>
    }
</div>

@code{

    private IEnumerable<Product> _products;

    protected override Task OnInitializedAsync()
    {
        _products = new List<Product>();
        return base.OnInitializedAsync();
    }

}

