@page "/"

<PageTitle>Home Page</PageTitle>

@*<div class="c-card">
    <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ready_Player_One_%28film%29.png" />
    <div class="c-footer">
        <div class="c-info">
            <h1>Product title</h1>
            <hr />
            <p>9999kr</p>

        </div>
        <div class="c-btn">
            <button class="btn btn-success">Add</button>
        </div>
    </div>
</div>*@

<div class="card-deck-wrapper">
    <div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ready_Player_One_%28film%29.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="c-info">
        <p class="price">9999kr</p>
         <a href="#" class="btn btn-primary">ADD</a>
         
    </div>
   
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ready_Player_One_%28film%29.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="c-info">
        <p class="price">9999kr</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
         
    </div>
   
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ready_Player_One_%28film%29.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="c-info">
        <p class="price">9999kr</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
         
    </div>
   
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ready_Player_One_%28film%29.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="c-info">
        <p class="price">9999kr</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
         
    </div>
   
  </div>
</div>
</div>

