@inherits LayoutComponentBase

<PageTitle>KärraGamesCorner</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
    <Authorized>
        <h5>Welcome,Logged in as: <a href="Identity/Account/Manage">@context.User.Identity?.Name!</a></h5>
    </Authorized>
</AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
