@inherits LayoutComponentBase

<PageTitle>KärraGamesCorner</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <h5>
                    Welcome,Logged in as: 
                    <a href="Identity/Account/Manage">
                        @context.User.Identity?.Name!
                        @if (context.User.IsInRole("Admin"))
                        {
                            <p>[Admin]</p>
                        }
                    </a>
                </h5>
            </Authorized>

</AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>

  
      

</div>


