<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KärraGamesCorner</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenuAccount= !expandSubMenuAccount">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Account
            </NavLink>
            
        @if (expandSubMenuAccount)
        {

             <NavLink class="expand-down" href="Log in">
                <span class="oi oi-file" aria-hidden="true"></span> Log in
            </NavLink>
            <NavLink class="expand-down" href="Log out">
                <span class="oi oi-file" aria-hidden="true"></span> Log out
            </NavLink>
            <NavLink class="expand-down" href="Register">
                <span class="oi oi-file" aria-hidden="true"></span> Register
            </NavLink>
            
            
        }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenuContact= !expandSubMenuContact">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contact/About
            </NavLink>
            
        @if (expandSubMenuContact)
        {

             <NavLink class="expand-down" href="About us">
                <span class="oi oi-file" aria-hidden="true"></span> About us
            </NavLink>
            <NavLink class="expand-down" href="Contact us">
                <span class="oi oi-file" aria-hidden="true"></span> Contact us
            </NavLink>
  
        }
        </div>




    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool expandSubMenuAccount;
    private bool expandSubMenuContact;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
